@import 'styles/_sass-includes.scss';

.game__container {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;

  > div {
    margin-top: -40rem;
    // media queries
    @include breakpoint($desktop-lg) {
      margin-top: -20rem;
    }
    @include breakpoint($mobile-lg) {
      margin-top: -10rem;
    }
  }

  td {
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
  }
}
